<h1>All Kombuchas - What are your kombucha thoughts?</h1>

<h3> TO DO </h3>
<h5> [] Arrange By Brand </h5>

<div>
<ul>
    <% @kombuchas.each do |kombucha| %>
        <li> 
        <h2> <%= link_to kombucha.flavor, kombucha_path(kombucha) %> - <%=kombucha.brand.name%> </h2>
        <p><%= kombucha.description %></p>
        <%= link_to "Add a Review", new_kombucha_review_path(kombucha) %> | <%= link_to "All Reviews", kombucha_reviews_path(kombucha) %>
        <%# <%= button_to "delete", kombucha, :method => :delete %> 
        </li><br>
    <% end %>
 </ul>
</div>






