<h1>Add a new Kombucha</h1>
<%= render "layouts/errors", locals: {object: @kombucha} %>

<%= form_for(@kombucha) do |f| %>
    <div>
        <%= f.label :flavor %>
        <%= f.text_field :flavor %>
    </div>

    <div>
        <%= f.label :description  %>
        <%= f.text_field :description %>
    </div>

    <div> 
        <%= f.label :buy_again %>
        <%= f.check_box :buy_again  %>
    </div>

    <p> Select an Existing Brand: </p>
    <div>
        <%= f.collection_select :brand_id, Brand.all, :id, :name, include_blank: 'Select One' %>
        <%# Display all existing brands, for user to associate kombucha with  %>
    </div>
    
    <p> Create a New Brand :</p>
    <div>
        <%= f.fields_for :brand do |b| %>
                <%# :brand - associated model that we're creating  %>
            <%= b.label :name %>
            <%= b.text_field :name %>    
                <%# :name - will be nested under our post_params %>
        <% end %>
    </div>

    <div>
    <%= f.submit %>
    </div>
<% end %>  



<%# t.integer "brand_id"   belongs_to :brand %>
<%# t.integer "user_id" %>
  