<h1>New Kombucha</h1>


<%= form_for(@kombucha) do |f| %>
    <div>
        <%= f.label :flavor %>
        <%= f.text_field :flavor %>
    </div>

    <div>
        <%= f.label :description  %>
        <%= f.text_field :description %>
    </div>

    <div> 
        <%= f.label :buy_again %>
        <%= f.check_box :buy_again  %>
    </div>

    <p> Select an Existing Brand: </p>
    <div>
        <%= f.collection_select(:brand_id, Brand.all, :id, :name) %>
    </div>
    
    <p> Create a New Brand :</p>
    <div>
        <%= f.fields_for :brand do |b| %>
            <%= b.label :name %>
            <%= b.text_field :name %>
        <% end %>
    </div>

    <div>
    <%= f.submit "Add Kombucha"  %>
    </div>
<% end %>  



<%# t.integer "brand_id"   belongs_to :brand %>
<%# t.integer "user_id" %>
  