<h1><%= @kombucha.flavor%></h1>
<%= flash[:notice] %>
[] TO DO: add flash notice confirmation styling here
<div>
    <p> Brand: <%= @kombucha.brand.name%></p>
</div>

<div>
    <p> Flavor: <%= @kombucha.flavor%></p>
</div>
 
<div>
    <p> Description: <%= @kombucha.description %></p>
</div>

<div>
     <p> Created By:  <%= @kombucha.user.username %> </p> 
    <br>
</div>

<% if logged_in? && @kombucha.user_id == current_user.id %>
<%= link_to "Edit Kombucha", edit_kombucha_path(@kombucha) %> 
<% end %>

<%= link_to "Write A Review", new_kombucha_review_path(@kombucha) %> |
<%= link_to "View This Kombuchas Reviews" , kombucha_reviews_path(@kombucha) %> 

<br>
<br>
   
