<h1>?? Title?? Shows Kombucha</h1>

<div>
    <p> Brand: <%= @kombucha.brand.name%></p>
</div>

<div>
    <p> Flavor: <%= @kombucha.flavor%></p>
</div>
 
<div>
    <p> Description: <%= @kombucha.description %></p>
</div>

<div>
    <p> Buy Again? <%= @kombucha.buy_again %></p> 
     <p>    [] TO DO: Change False, To No</p>
    <br>
</div>

<%= link_to "Write A Review", new_kombucha_review_path(@kombucha) %> |
<%= link_to "View This Kombuchas Reviews" , kombucha_reviews_path(@kombucha) %> |
<%= link_to "Edit Kombucha", edit_kombucha_path(@kombucha) %> 
<br>
<br>
   
