<div class='container'>
    <h3 class="shiftH3">  Sign Up Through Kombucha Thoughts: </h3>
    <%= render partial: "layouts/errors", locals: {object: @user} %>
        
    <div class="form-section ">
        <%= form_for @user do |f| %>

         <div class="form-group row">
            <%= f.label :username , {class: "col-2 col-form-label"}%>
            <div class="col">
                <%= f.text_field :username,  {class: "form-control"} %>
            </div>
        </div>


         <div class="form-group row">
            <%= f.label :email , {class: "col-2 col-form-label"}  %>
            <div class="col">
                <%= f.email_field :email, {class: "form-control"} %>
            </div>
        </div>

        <div class="form-group row">
            <%= f.label :password , {class: "col-2 col-form-label"}  %>
            <div class="col">
                <%= f.password_field :password, {class: "form-control"} %>
            </div>
        </div>

        <div>
            <%= f.submit "Sign Up"  %>
        </div>

    </div>
    <% end %>
</div>

<br>
<br>
<div class='container'>
    <h3 class="shiftH3">Or Sign Up Through: </h3>
    <a class="btn btn-primary btn-lg" href="/auth/google_oauth2" role="button"> Sign Up With Google </a>

    <a class="btn btn-primary btn-lg tab" href="/auth/github" role="button"> Sign Up With Github </a>

<div>

   
