<div class="container-fluid  ">
    <div class="shiftH1 text-center">  Welcome <%= @user.username %>! </div>
    <div class="shiftp text-center">Keep track of all your Kombucha Thoughts </div>

    <br>
    <br>

  <div class="shiftH1">My Reviews:</div>
    <div>
      <% @user.reviews.each do |review|%>
        <div class="card" style="width: 65rem;" > 
          <div class="card-body">
            <h4 class="card-title shiftH3 mb-2"><%= link_to  review.kombucha.flavor_and_brand, kombucha_path(review.kombucha)%></h4> 
            <p class="small card-subtitle mb-2 shiftp text-muted"> Reviewed on: <%=  review.date_formatted%></p><br>
              <p class="shiftp">Title: <%=  review.title %></p> 
              <p class="shiftp">Description: <%=  review.content  %></p>
              <p class="shiftp">Rating: <%=  review.rating %></p>
   
            <h6 class="card-subtitle mb-2 shiftp text-muted small halftab"><%=link_to "Edit", edit_review_path(review) %></h6> <br>
            <h6 class="card-subtitle mb-2 shiftp text-muted small"><%=button_to "Delete", review_path(review), method: :delete%></h6>  
          

          </div>
        </div>
        <br>
      <% end %>
    </div>
  </div>
</div>
