<!--Form Shared by `/reviews` AND `/kombucha/:id/reviews`-->
<h3> TO DO </h3>
<h5> [] helper for Written by: username & created_at (& review/index)</h5>

<% if @kombucha %>
    <h1> Reviews for <%= @kombucha.flavor %> - <%= @kombucha.brand.name %> </h1>
<% else %>
    <h1>All Kombucha Reviews</h1>
<% end %>


<div>
<ul>
<% @reviews.each do |review| %>
    <li>
        
        <h2><%= link_to review.title, review_path(review) %> - Rating: <%= review.rating%></h2>
        <p> <%= review.kombucha.flavor%> by <%= review.kombucha.brand.name%></p>

        <p>  Reviewed By: <%= review.user.username%> on <%= review.created_at%></p>
    </li><br>
<% end %>
 </ul>
</div>



<% if @kombucha %>
    <h4>Add a Review for: <%= link_to @kombucha.flavor, new_kombucha_review_path(@kombucha) %></h4>
<% end %>