<%= render "layouts/errors", locals: {object: @review} %>

<% if params[:kombucha_id] %>
    <h1> Review for: <%= @review.kombucha.flavor %> - <%= @review.kombucha.brand.name %></h1> 
<% else %> 
    <h1> Create a review </h1>
<% end %>



<%= form_for(@review) do |f| %>
    <% if params[:kombucha_id] %>
        <%= f.hidden_field :kombucha_id %>
    <% else %>
       <div>
        <%= f.label :kombucha_id, "Select a Kombucha" %>
        <%= f.collection_select :kombucha_id, Kombucha.all, :id, :flavor, include_blank: true %>
       </div>
     <% end %>

    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <br>
    <div> 
        <%= f.label :rating %>
        <%= f.number_field :rating, min:0, max:5 %>
    </div>
    <br>
    <div>
        <%= f.label :content  %>
        <%= f.text_area :content, size:"30x10"%>
    </div>
    <br>
    <div>
    <%= f.submit %>
    </div>
<% end %>  