<%# <--! /reviews/3--> %>
<h1> Review for: <%= @review.kombucha.flavor %> - <%= @review.kombucha.brand.name %> </h1>
<br><br>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div>
    <p> Title: <%= @review.title%></p>
</div>

<div>
    <p> Rating: <%= @review.rating%></p>
</div>

<div>
    <p> Content: <%= @review.content %></p>
</div>
<br>

<div>
<% if logged_in? && @review.user_id == current_user.id %>
    <%=link_to "Edit Review", edit_review_path(@review) %> |
    <%=link_to "Delete This Review", review_path(@review), method: :delete, data: {confirm: "Are you sure?"} %> 
<% end %>
</div>

<p> Reviewed by: <%= @review.user.username%> on <%=@review.date_formatted %> </p>
<br><br>

<h3>View All Reviews for: <%= link_to @kombucha.flavor, kombucha_reviews_path(@kombucha) %></h3>


