<%# <--! /reviews/3--> %>
<h3> TO DO </h3>
<h5> [] helper for Written by: username & created_at (& review/index)</h5>



<h1> Review for: <%= @reviews.kombucha.flavor %> - <%= @reviews.kombucha.brand.name %> </h1>
<p> Reviewed by: <%= @reviews.user.username%> on <%=@reviews.date_formatted %> </p>

<br><br>
<div>
    <p> Title: <%= @reviews.title%></p>
</div>

<div>
    <p> Rating: <%= @reviews.rating%></p>
</div>

<div>
    <p> Content: <%= @reviews.content %></p>
</div>
<br><br>
<div>
<% if logged_in? && @reviews.user_id == current_user.id %>
    <%=link_to "Edit Review", edit_review_path(@reviews) %> |
    <%=link_to "Delete This Review", review_path(@reviews), method: :delete, data: {confirm: "Are you sure?"} %> 
<% end %>


<h3>View All Reviews for: <%= link_to @kombucha.flavor, kombucha_reviews_path(@kombucha) %></h3>


