<%# RIGHT SIDE OF SCREEN %>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <%= image_tag("kombuchaLogo.png", size: "60x60", alt: "KombuchaThroughts Logo") %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if !!current_user %>
      <li class="nav-item active">
        
        <a class="nav-link" href="<%= user_path(current_user) %>">Home <span class="sr-only">(current)</span></a>
        
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_kombucha_path %>">Add a Kombucha</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_review_path %>">Add a Review | </a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="<%= kombuchas_path %>">All Kombuchas</a>
      </li>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="<%= reviews_path %>">All Reviews</a>
      </li>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="<%= brands_path %>">All Brands</a>
      </li>
      <%end%>

      <button class="btn btn-sm btn-outline-secondary" type="button" id="nav-right">
            <%= link_to "Logout #{current_user.username}", logout_path, method: :delete %>  
        </button>
    </ul>
  </div>
</nav>





 