<!DOCTYPE html>
<html>
  <head>
    <title>KombuchaThoughts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <%# <%= render 'partials/navbar'%> %>
  </header>
  <div> 
    <%= render_nav_bar %>
    
  </div>
  <body>
    <%= yield %>
  </body>

   <div> 
   
  </div>
</html>
